node_modules
**/target/*
**/.idea/*
.classpath
.project
.settings/*
**/*.iml
.vscode
__pycache__

java/proto-gen-mac
java/.settings

python/px/px_pb2*.py
python/build
python/dist
python/ckpx.egg-info
python/px_server/package
.pytest_cache

dist/*

test/*
!test/*.js
!test/*.py
!test/java-test
test/java-test/.settings

python/py/px*
*.pyc
